@import "../../../scss/Variables.scss";

.button__secondary {
  @include tinos;
  width: $base * 35;
  margin-bottom: $base * 6;
  padding: $base * 3 $base * 9;
  font-size: $fs-s;
  line-height: $base * 4;
  color: $color-dark-xxxl;
  background-color: transparent;
  border: 2px solid $color-primary-light;
  border-radius: $base * 10;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $color-primary-light;
    transition: $transition;
  }
}
