@import "../../../scss/Variables.scss";

.button__pagination {
  display: block;
  @include tinos;
  min-width: $base * 10;
  min-height: $base * 10;
  font-size: $fs-m;
  letter-spacing: 1px;
  line-height: $base * 5;
  color: $color-dark-xxxl;
  text-align: center;
  border-radius: 50%;
  border: 2px solid $color-primary;
  background-color: $color-light-s;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
  transition: $transition;

  &:hover {
    background-color: $color-primary;
    transition: $transition;
  }
}

.arrow__left {
  right: 85%;
  background-image: url("./assets/img/arrow.svg");
}

.arrow__right {
  left: 85%;
  background-image: url("./assets/img/arrow.svg");
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.swiper-button-disabled {
  cursor: auto;
  opacity: 0.5;
  pointer-events: none;
  transition: $transition;
}
