@import "../../scss/Variables.scss";

.catalog {
  margin-top: $base * 24;
  padding: $base * 16 $base * 8 $base * 20 $base * 8;
  background-color: $color-light-l;

  @media (max-width: $breakpoint-md-min) {
    padding: $base * 16 $base * 6 $base * 20 $base * 6;
  }

  .h3 {
    text-align: center;
  }
}

.catalog__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $base * 6;
  width: 100%;
  margin: $base * 12 auto;
}

.pagination__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base * 4;
}
