@import "../../scss/Variables.scss";

.hero {
  margin-top: -$base * 26;
  background: url("../../assets/img/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.hero__container {
  display: flex;
  justify-content: space-between;
  padding-top: $base * 36;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: $base * 8;
  width: 39%;
  padding-top: $base * 34;

  .h2 {
    width: 61%;
  }
}

.paragraph {
  @include arimo;
  font-size: $fs-xs;
  line-height: $base * 5;
  color: $color-dark-s;
}

.hero__img {
  display: block;
  width: 58.6%;
  height: auto;
}
