@import "../../scss/Variables.scss";

.header {
  position: absolute;
  top: $base * 11;
  right: $base * 8;
  left: $base * 8;
  z-index: 2;
  // padding: $base * 11 $base * 8 0 $base * 8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $breakpoint-md-min) {
    top: $base * 5;
    right: $base * 6;
    left: $base * 6;
  }

  .paragraph {
    font-size: $fs-xxs;
    letter-spacing: 2px;
    color: $color-light-xl;
  }
}

.h1__container {
  display: flex;
  flex-direction: column;
  gap: $base;

  .h1 {
    padding-top: $base;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: $base * 7;
}

.nav__link {
  position: relative;
  @include arimo;
  font-size: $fs-xs;
  line-height: $base * 5;
  color: $color-dark-s;
  transition: $transition;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: $color-primary;
    opacity: 0;
    transition: $transition;
  }
}

.active {
  color: $color-light-s;
  transition: $transition;

  &::after {
    opacity: 1;
    transition: $transition;
  }
}
