@import "../../scss/Variables.scss";

.header {
  position: absolute;
  top: $base * 12;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../../assets/img/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  .paragraph {
    font-size: $fs-xxs;
    letter-spacing: 2px;
    color: $color-light-xl;
  }
}

.h1__container {
  display: flex;
  flex-direction: column;
  gap: $base * 2;
}

.nav {
  display: flex;
  align-items: center;
  gap: $base * 7;
}

.nav__link {
  @include arimo;
  font-size: $fs-xs;
  line-height: $base * 5;
  color: $color-dark-s;
  transition: $transition;
}

.active {
  color: $color-light-s;
  transition: $transition;
}
