@import "../../scss/Variables.scss";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base * 24;
  padding: $base * 16 $base * 8 $base * 20 $base * 8;

  @media (max-width: $breakpoint-md-min) {
    flex-direction: column-reverse;
    gap: $base * 14;
    padding: $base * 16 $base * 6 $base * 20 $base * 6;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: $base * 5;
  width: 36%;

  @media (max-width: $breakpoint-md-min) {
    width: 61%;
  }

  .paragraph {
    color: $color-dark-xl;
  }
}

.about__img {
  width: 25%;
  height: auto;

  @media (max-width: $breakpoint-md-min) {
    width: 42%;
  }
}
