@import "../../scss/Variables.scss";

.donate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base * 4;
  padding: $base * 16 $base * 8 $base * 18 $base * 8;
  background-color: $color-light-l;
}

.donate__container {
  display: flex;
  flex-direction: column;
  gap: $base * 4;
  width: 31.9%;

  .h4 {
    font-size: $fs-xs;
    line-height: $base * 3;
  }

  .paragraph {
    color: $color-dark-xl;
  }
}

.donate__img {
  width: 43%;
  height: auto;
}

.explanation {
  font-size: $fs-xxxs;
  font-style: italic;
  line-height: $base * 4;
  color: $color-dark-m;
}
