@import "../../../scss/Variables.scss";

.button__primary {
  @include tinos;
  width: $base * 40;
  margin-left: $base;
  padding: $base * 3 $base * 9;
  font-size: $fs-s;
  line-height: $base * 4;
  letter-spacing: 1px;
  color: $color-dark-xxxl;
  background-color: $color-primary;
  border: none;
  border-radius: $base * 10;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $color-primary-light;
    transition: $transition;
  }
}
