@import "../../scss/Variables.scss";

.slider {
  padding: $base * 16 $base * 8 $base * 20 $base * 8;
  background-color: $color-light-l;

  .h3 {
    text-align: center;
  }

  .button__primary {
    display: block;
    width: $base * 50;
    margin: 0 auto;
  }
}

.slider__container {
  display: flex;
  justify-content: space-between;
  gap: $base * 18;
  width: 86%;
  padding: $base * 12;
  overflow-x: hidden;

  @media (max-width: $breakpoint-md-min) {
    gap: $base * 8;
  }
}

.slider__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $base * 6;
  border-radius: $base * 2;
  background-color: $color-light-s;

  &:hover {
    .hover {
      background-color: $color-light-xl;
      transition: $transition;
    }
  }

  .hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $base * 7;
    width: 100%;
    background-color: $color-light-s;
    border-radius: $base * 2;
    transition: $transition;
  }
}

.slider__img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
