@import "../../scss/Variables.scss";

.slider {
  padding: $base * 16 0 $base * 20 0;
  background-color: $color-light-l;

  .h3 {
    text-align: center;
  }

  .button__primary {
    display: block;
    width: $base * 50;
    margin: 0 auto;
  }
}

.slider__container {
  display: flex;
  justify-content: space-between;
  gap: $base * 18;
  width: 77%;
  margin: $base * 12 auto;
  overflow-x: hidden;
}

.slider__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $base * 6;
  border-radius: $base * 2;
  background-color: $color-light-s;

  &:hover {
    .hover {
      background-color: $color-light-xl;
      transition: $transition;
    }
  }

  .hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: $color-light-s;
    transition: $transition;
  }
}

.slider__img {
  cursor: pointer;
}
