@import "../../scss/Variables.scss";

.slider {
  padding: $base * 16 0 $base * 20 0;
  background-color: $color-light-l;

  .h3 {
    text-align: center;
  }

  .button__primary {
    display: block;
    width: $base * 50;
    margin: 0 auto;
  }
}

.slider__container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 76%;
  padding-top: $base * 12;
  padding-bottom: $base * 12;
  // overflow-x: hidden;

  // @media (max-width: $breakpoint-md-min) {
  //   gap: $base * 8;
  // }
}

.slider__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $base * 6;
  border-radius: $base * 2;
  background-color: $color-light-s;

  &:hover {
    .hover {
      background-color: $color-light-xl;
      transition: $transition;
    }
  }

  .hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $base * 7;
    width: 100%;
    background-color: $color-light-s;
    border-radius: $base * 2;
    transition: $transition;
  }
}

.slider__img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.buttons__container {
  position: absolute;
  top: 46%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
